/* 常用颜色设置设置 start */

$blue: #4983f5;
$gray: #CCD1DC;
$fc-black: #1c1c1c;
$fc-gray: #787878;
$fc-red: #fa3c2e;
$fc-border:#e7eaf1;
$bg:#F1F2F6;
$icon-yellow: #FACD39;
$title-black: #1c1c1c;
$background: #f1f2f5;

/* 常用颜色设置设置 end */
